<!DOCTYPE html>
<html>
<head>
  <title>UserGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
    }
  </style>  
</head>

<body>

<%= yield %>

</body>
</html>
 